li {
  list-style: none;
}


header {
  height: 65px;
  width: 100%;
  background-color:black;
  position:fixed;
  top:0;
  z-index:10;
}

.header-left {
  float: left;
  background-color: rgb(255, 255, 255,);
  transition: all 0.5s;
  font-size:20px;
}


.header-left a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}















.header-list {
  float: left;
}
.header-list a{
  color:white;
}
.header-list li {
  float: left;
  padding: 5px 50px;
}








.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}












.main1{
  height:600px;
}

.main-cont{
    height:50px;
}











.footer {
  background-color:black;
  color: #fff;
  height: 120px;
  padding: 40px;
}
.footer a {
  color:white;
}
.footer-l {
  float: left;
  font-size: 32px;
}

.footer-lis {
  float: left;
}

.footer-r {
  float: right;
}

.footer-r li {
  padding-bottom: 20px;
}
